/* Common styles */
*{
    margin: 0 auto;
    padding: 0px;
}
body{
    font-family: 'Montserrat', sans-serif;
}

.btn-primary{
    border-radius: 8px;
    background: #E55473;    
}
h1{
    color: #E55473;
}

/* Banner style */
