/* Common styles */
*{
    margin: 0 auto;
    padding: 0px;
}
body{
    font-family: 'Montserrat', sans-serif;
}

.btn-primary{
    border: 0;
    border-radius: 8px;
    background: #E55473;
    padding: 10px 20px;
    cursor: pointer;    
}
.section-title{
    font-size: 30px;
    padding-bottom: 20px;
}

/* Navigation style */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:white;
    height: 120px;
}
.logo img{
    width: 200px;
}
.menus ul{
    display: flex;
}
.menus li{
    list-style: none;
    padding:10px 20px;
}
.menus li a{
    text-decoration: none;
    color: rgb(41, 40, 40);
    font-size: 16px;
    font-weight: 600;
}
.menus li a:hover{
    background-color:#E55473;
    color: white;
    border-radius: 5px;
    padding: 2px 2px;    
}

/* Banner Style */
.banner{
    background-color: rgba(229, 84, 115, 0.10);
    height: 500px;

}
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 150px;
    gap: 50px;
}
.banner-content{
    padding-top: 100px;
}
.banner-title{
    font-size: 55px;
    font-weight: 900;
    color: black;
    padding-bottom: 10px;
}
.banner-desc{
    padding-bottom: 10px;
}
.banner-image{
    position: relative;
    top: 50px;
}
.banner-image img{
    width: 350px;

}
/* Feature Style */

.feature{
    display: block;
    padding-top: 100px;
    /* border: 1px solid red; */
    height: 500px;
}
.feature-container{
    display: block;
    justify-content:center;
    align-items: center;
    text-align: center;
    /* border: 1px solid red; */
}
.feature-content{
    width: 500px;
    padding-bottom: 50px;
}
feature-title{

}
.feature-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 800px;
}

.feature-card{

}
.feature-card-details{
    width: 230px;
    height: 300px;
    border-radius: 50% / 40% 40% 0 0;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: end;
}
.card-details-1{
    background-color: #a7216257;
}
.card-details-2{
    background-color: #0597A026;
}
.card-details-3{
    background-color: #477D1126;
}
.feature-card-details img{
    width: 180px;  
}   
.image-caption{
    padding-top: 20px;
}

/* Small Banner Style */

.small-banner{
margin-top: 100px;
}
.small-banner-container{
    background-color: #477D1126;
    width: 800px;
    padding: 50px 0;
    display: flex;
    justify-content: space-around;

}
.small-banner-content{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.small-banner-content img{
    width: 50px;
}
.small-banner-desc{
    font-size: 14px;
}
.hotdeal{
    margin-top: 100px;
    background-color: rgba(229, 84, 115, 0.05);
}
.hotdeal-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 800px;
}
.hotdeal-content{
    text-align: center;
}
.hotdeal-title{
    padding-bottom: 10px;
}
.hotdeal-desc{
    padding-bottom: 10px;
}
.hotdeal-image img{
    width: 220px;
}
