/* Common styles */
*{
    margin: 0 auto;
    padding: 0px;
}
body{
    font-family: 'Montserrat', sans-serif;
}

.btn-primary{
    border: 0;
    border-radius: 8px;
    background: #E55473;
    padding: 10px 20px;
    cursor: pointer;    
}

/* Navigation style */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:white;
    height: 120px;
}
.logo img{
    width: 200px;
}
.menus ul{
    display: flex;
}
.menus li{
    list-style: none;
    padding:10px 20px;
}
.menus li a{
    text-decoration: none;
    color: rgb(41, 40, 40);
    font-size: 16px;
    font-weight: 600;
}
.menus li a:hover{
    background-color:#E55473;
    color: white;
    border-radius: 5px;
    padding: 2px 2px;    
}

/* Banner Style */
.banner{
    background-color: rgba(229, 84, 115, 0.10);
    height: 500px;

}
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 150px;
    gap: 50px;
}
.banner-content{
    padding-top: 100px;
}
.banner-title{
    font-size: 55px;
    font-weight: 900;
    color: black;
    padding-bottom: 10px;
}
.banner-desc{
    padding-bottom: 10px;
}
.banner-image{
    position: relative;
    top: 50px;
}
.banner-image img{
    width: 350px;

}